.gbox{
    width: 100%;
    height: 350px;
    margin: auto;
    background-color: rgb(65, 74, 78); 
}
.vert{
    background-color: #ffffff;
    position: absolute;
    top: 260px;
    width:100%;
    height: 35px;
}
.horz{
    background-color: rgba(218, 167, 27, 1);
    position: absolute;
    width:35%;
    top:225px;
    height: 75px;
    left: 32%;
    font-size: 5vmax;
}
.image{
    margin-top: 25px;
    margin: left 25px;
    border-radius: 50%;
    border:  rgb(240, 182, 23) 5px dotted;
    width: 200px;
    height: 200px;
}
.add{
    width: 100%;
    text-align: center;
    color:  rgb(52, 60, 63);
    font-size: 1.9vmax
} 
.left{
    margin-left: 10%;
    margin-top: 10%;
}

.right{
    margin-left: 10%;
    margin-top: 9%;
}
.hr{
width: 100%;
}
.head{
font-size: 1.9vmax;
}
.skill{
font-size: 1.2vmax;
}